*.pyc
*.png
*.jpg
*.svg
*.pdf
*.mp4
*.avi
*.zip
*.rar
*.tar
*.mat
*.file
*.tiff
*.ini
spkdata*
*.m~
*.py~
data*
data/
ijwd*
cache/
cache*/
__pycache__/
results/
analysis/load_data_dict.pyc
.svn/
.venv/
test.py
**/test.ipynb
*.html
*.eps
ai.md
send_email.py
*.bak